* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

#bulb {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 4px solid black;
  background-color: white;
}

button {
  font-size: 1.25rem;
  padding: 0 5px;
}
